<footer>
  <center>
    <p>Copyright @ 2022 businesswithus</p>
    <p>For any compliant or information contact admin@businesswithus.com.ng</p>
    <p>08061632267, 08023613691, 09133570055</p>
    <p>Ogbete Main Market, Enugu 30 Adelabor Street Uwani, Enugu</p>
    <p>Business with us is here to give you the best wholesale deal on all human hairs and also offers top notch event decoration to satisfy your taste </p>
  </center>
</footer>