
<div id="body">
<main>
     <h1>Business With Us</h1>
    <p>
      We are here to give you better experience. <b>Click </b>on each section to check out our products and services 
    </p>
     <a href="hair.html"> <img src="line4.jpg" height="40"></a>
     <a href="hair.html" class="show-non"> <img src="line.jpg" height="40"></a>
     <a href="deco.html"class="show-non"><img src="line2.jpg"height="40" ></a>
     <a href="deco.html" ><img src="line2.jpg"height="40" ></a>
</main>
<div class="hair">
  <div class="section">
    <h1><center>Hairs</center></h1>
  </div>

  <div class="home-hair">
      <a href="hair.html">
        <img src="IMG_5351.jpg" alt="">  
       </a>
  </div>
  <div class="home-hair">
      <a href="hair.html">
         <img src="116.jpg"  alt="">
      </a>
  </div>
      
        
    <div class="home-hair">
      <a href="hair.html">
        <img src="IMG_5279.jpg" alt="">  
      </a>
    </div>
        
    <div class="home-hair">
        <a href="hair.html">
        <img src="a15.jpg" alt=""> 
        </a>
    </div>
      <p class="selling">We import and sell original hairs at wholesale price. We are here to make your transactions less     expensive with our current 50% price reduction promo. We get products direct from company to make it very much  
        affordable for you.<br>
         Follow the <a href="hair.html">link</a> below to see all the available hairs for your satisfaction. Make your selections and contact us for delivery on 08061632276 | 08023613691 | 09133570055 |
         Pack II Ogbete Main Market, Enugu | 30 Adelabor Street Uwani, Enugu<br>
      </p>


    <a href="hair.html">
      <div class="container">
        <div class="btn message btn-primary">
          <p>
            Visit Hair Temple 
          </p>
        </div>
      </div>
      </a>
  </div>
    



<div class="deco">
  <div class="section">
    <h1><center>TG Decorations</center> </h1>
  </div>

  <center>
      <a href="deco/page">
        <img src="WA0004.jpg" class="decoImage" alt=""> 
      </a>
      
      <a href="deco/page">
        <img src="WA0006.jpg" class="decoImage" alt=""> 
      </a>

      <div class="selling">
      <p>We take care of your event decoration to your satisfaction</p>
        <p>Contact us for your white wedding, traditional wedding, birthday party, house opening, end of the year party, get-together, burial event and all other events </p>
        <p>We give you high discount for top notch service</p>

      </div>
    

    <a href="deco/page">
      <div class="btn message btn-primary">
        <p>
          Visit TG Decoration Gallary  
          <i class="fa-solid fa-circle-plus fa-beat"style="font-size: 15px; color: blue;"></i>
        </p>
     </div>
    </a>
   </center>
  </div>
</div>


